body 
{
    margin: 0;
    height: 100vh; /* Full height of the viewport */
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
}



.calculator 
{
    background-color: lightgray;
    padding: 8px;
    border-radius: 8px;
    width: fit-content;
    display: grid;
    grid-template-rows: 20% 16% 16% 16% 16% 16%;
    background-color: black;

}

.line1 {
    grid-row: 1;
}

.line2 {
    grid-row: 2;
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

.line3 {
    grid-row: 3;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.line4 {
    grid-row: 4;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.line5 {
    grid-row: 5;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.line6 {
    grid-row: 6;
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

button {
        display: flex;              /* Use flexbox */
        justify-content: center;    /* Center horizontally */
        align-items: center;        /* Center vertically */
        font-size: 16px;            /* Text size */
        outline: none;
    }


input {
    background-color: white;
    outline: none;
    border-radius: 8px;
}